*, h2, h3,h1{
    margin: 0;
    padding: 0;
}
.section{
    margin: 1px;
}
.container{
    width: 70%;
    padding-right: 15%;
    padding-left: 15%;
    margin: 0 auto;
}

h1{
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
}
h2{
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;

}
h3{
    font-size: 20px;
    font-weight: 100;
    color: #999;
    letter-spacing: 0.3px;

}
.kas{
    display: none;
}
.contact{
    text-decoration: none;
}
.contact a{
    text-decoration: none;
    color: black;
}
.section{
    padding-top: 30px;
}
.about{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.card{
    width: 57%;
}
.photo_main {
    width: 40%;


}
.photo_main img{
    width: 100%;
    background-color: aqua;
    margin-left: auto;
    float: right;


}
.name{
    margin-top: 10px;
    margin-bottom: 10px;
}

.line{
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
}
.about_str{
    display: flex;
    justify-content:start;

}
.about_str h2{
    width: 40%;
}
.about_str h3{
    width: 60%;
}

/* PHOTOS */

.first_line{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.Photo_title{
    margin-right: 30px;
    text-transform: uppercase;
}
.line_big{
    width: 100%;
    height: 4px;
    background-color: black;
}

.photos_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.photo{
    background-color: black;
    margin-right: 25px;
}
.photo:last-child{
    margin-right: 0px;
}
.photo img{
    max-width: 100%;
    max-height: 500px;
    transition-duration: .4s;
    z-index: 1;
}
.photo:hover{
    z-index: 1;
}
.photo_small img{
    transition-duration: .5s;
}
.photo img:hover{
    opacity: 1;
    transform: scale(1.5);   
    z-index: 10;

}
.photo_small img:hover{
    transform: scale(1.85);  
}
.bottom{
    background-color: rgb(255, 255, 255);
    color: gray;
    display: flex;
    width: 100%;
    padding-top: 5%;


    margin-top: -10vh;
    min-height: 10vh;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,  
    rgba(0,0,0,0.2) 35%, 
    rgba(0,0,0,0.6) 75%,  
    rgba(0,0,0,1) 100%    
    ) 
}
.bottom .container{ 
    display: flex;
}
.bottom_left{
    margin-right: 10%;
}
.bottom_left h2{
    margin-right: 14%;
    margin-bottom: 0;
}
.bottom_right{
    margin-left: auto;
    margin-top: 10px;
}
.bottom .contact a{
    color:  rgb(199, 199, 199);

}
html{ 
    scroll-behavior: smooth
}
.arrowUp a img{ 
    width: 50px;

}

@media(max-width: 100px) /* 700 */ {
    .about{
            display: block;
            justify-content: none;
    }

}
@media (max-width: 1600px) {
    .container{
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        margin: 0 auto;
    }
}
@media (max-width: 1500px) {

    .photo_main {
        width: 40%;
        margin-top: 2%;
        margin-right: 0;
    }

}
@media(max-width: 1400px) /* 700 */ {
    .photo_main img{
        width: 95%;
    }

    }
    .about_str h2{
        width: 30%;
        margin-right: 5%;
    }
    .about_str h3{
        width: 200%;
    }
    .photo_main {
        width: 40%;
        margin-top: 2%;
        margin-right: 0;
    }

@media(max-width: 1350px) /* 700 */ {
    #line2{
        width: 100%;
    }
    .photo_main img{
        min-width: 400px;
    }
}
@media(max-width: 1200px) /* 700 */ {
    #line1{
        width: 110%;
    }
    #line2{
        width: 175%;
    }
    .photo_main img{
        min-width: 1px;
        width: 250px;
    }
    .about_str{
    width: 175%;
    }
}
@media(max-width: 1000px) /* 700 */ {
    #line1{
        width: 100%;
    }
}

@media(max-width: 800px) /* 700 */ {
    #line1{
        width: 95%;
    }
    .section{
    padding-top: 15px;
    }
    .first_line{
    margin-bottom: 15px;
    }
}
@media(max-width: 720px) /* 700 */ {
    .kas{
        display: block;
    }
    #line1{
        width: 90%;
    }
    h1{
    font-size: 50px;
    }
}
@media(max-width: 650px) /* 700 */ {
    #line1{
        width: 85%;
    }
    .line{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .Photo_title{
    margin-right:15px
    }
    .line_big {
    height: 3px;
    }
    h1{
    font-size: 35px;
    }
    h2{
    font-size: 18px;
    margin-bottom: 0px;
    }
    h3{
    font-size: 16px;
    }

    .photo_main img{
        min-width: 180px;
        width: 180px;
    }


@media(max-width: 470px) /* 700 */ {
    .photo_main img{
        min-width: 140px;
        width: 100%;
    }
    .line{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    h1{
    font-size: 25px;
    }
    h2{
    font-size: 16px;
    }
    h3{
    font-size: 14px;
    }
    .photo{
    margin-right: 5px;
    }
    .photos_item{
    margin-bottom: 15px;
    }
    .section{
    padding-top: 10px;
    }
    .first_line{
    margin-bottom: 10px;
    }

}
@media(max-width: 400px) /* 700 */ {

    #line1{
        width: 80%;
    }
    .line{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .Photo_title{
    margin-right:7px
    }
    .line_big {
    height: 2px;
    }
    .photo_main img{
        min-width: 125px;
        width: 100%;
    }
    .kst{
        display: none;
    }
    
    h1{
    font-size: 20px;
    }
    h2{
    font-size: 14px;
    line-height: 100%;
    }
    h3{
    font-size: 12px;
    }
    .about_str{
    line-height: 80%;
    }
    .photo{
    margin-right: 5px;
    }
    .photos_item{
    margin-bottom: 5px;
    }
    .section{
    padding-top: 5px;
    }
    .first_line{
    margin-bottom: 5px;
    }
}
@media(max-width: 300px) /* 700 */ {
    .photo_main img{
        min-width: 100px;
        width: 100%;
    }
    .line{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .section{
    padding-top: 0px;
    }
    .first_line{
    margin-bottom: 0px;
    }
}